
button{
background-color: #D4A017;
color: white;
}

.real-content{
  padding:0px 100px 55px;
  display:flex;
  flex-direction: column;
  gap:100px;
    
}

.container{
  max-width: 100vw;

}

#introduction{
  height: 100%;
  padding-top: 40px;
}

#skillss{
  height: 100%;
}
@media (max-width:768px)
{
  .real-content{
  padding:40px 45px;}

  #introduction
  {
    padding-top: 5px;
  }
}



.intro-wrapper {
  position: relative;
  overflow: hidden;
}

.bg-video {
  position: fixed;      /* stays in background */
  top: 0;
  left: 0;
  width: 100vw;         /* full width */
  height: 100vh;        /* full height */
  object-fit: cover;    /* 🔥 THIS makes it stretch nicely */
  z-index: -1;          /* send behind content */
  
}

#dark{
  max-width: 100vw;
  background-color: #0c0c1d7f;
}

button {
  transition: all 0.4s ease;
}
button:hover{
  cursor: pointer;
  transform: scale(1.1,1.1);
}